<div class="col-sm-3" ng-controller="PosterCtrl" ng-click="followPosterLink(poster.id)">
  <div class="panel panel-default">
    <div class="panel-heading text-center" data-type="info" data-placement="top" bs-tooltip="poster.title || poster.name">
      {{poster.title || poster.name | cut:true:25}}
      <div ng-show="poster.release_date || poster.first_air_date" class="title-year">
        ({{poster.release_date || poster.first_air_date | date:'y'}})
      </div>
      <div ng-show="!poster.release_date && !poster.first_air_date">&nbsp;</div>
    </div>
    <div class="panel-thumbnail">
      <poster-image path="{{poster.poster_path}}" size="large"></poster-image>
    </div>
    <div class="panel-body">
      <p class="lead" data-type="info" data-placement="left" bs-tooltip="'Genres'">
        <span ng-repeat="genre in genres | limitTo:4">
          <span class="label" ng-class="'label-' + getGenreColor($index)">{{genre.name}}</span>
        </span>
        <span ng-show="genres.length < 1">
          <span class="label label-default">NO DATA</span>
        </span>
      </p>

      <p data-type="info" data-placement="left" bs-tooltip="'Released'">
        <span class="glyphicon glyphicon-calendar"></span> <b>{{poster.release_date || poster.first_air_date || 'n/d'}}</b>
      </p>

      <p>
        <span class="pull-left" data-type="info" data-placement="left" bs-tooltip="'Score'">
          <span class="glyphicon glyphicon-heart heart-icon"></span> <b>{{poster.vote_average}}</b> ({{poster.vote_count}})
        </span>
        <span ng-show="poster.origin_country[0]" class="pull-right" data-type="info" data-placement="top" bs-tooltip="'Origin country'">
          <span class="glyphicon glyphicon-globe"></span><b><i> {{poster.origin_country[0]}}</i></b>
        </span>
      </p>
    </div>
  </div>
</div>
