<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
      <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-href="#/">
        <span class="glyphicon glyphicon-facetime-video"></span> Moviever
      </a>
    </div>

    <div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
      <ul class="nav navbar-nav">
        <li><a class="nav-btn" data-animation="am-flip-x" bs-dropdown="movieDropdown"
               aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-film"></span> Movie</a>
        </li>
        <li><a class="nav-btn" data-animation="am-flip-x" bs-dropdown="tvDropdown"
               aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-off"></span> TV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
